@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  --heading-ff: 'Young Serif', serif;
  --body-ff: 'Outfit', sans-serif;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fs-paragraph: 1rem; 
  --fs-heading: 2.820rem;

}

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--stone-100);
    font-family: var(--body-ff);
    font-weight: var(--fw-400);
    font-size: var(--fs-paragraph);
    color: var(--stone-600);
    line-height: 1.4;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    font-family: var(--heading-ff);
    font-weight: var(--fw-400);
    
}

h1 {
    color: var(--stone-900);
    font-size: 2.5rem;
}

h2 {
    color: var(--brown-800);
    margin-bottom: 1rem;
}

.recipe-instructions {
    margin: 1rem 0;
}

.nutritional-table {
    margin-top: 1rem;
}

ul, ol {
    padding-left: 1.25rem;
}



ol li {
    margin-bottom: 1rem;
}


ul li::marker {
    color: var(--brown-800);
    font-weight: var(--fw-600);
    
}
ol li::marker {
    color: var(--brown-800);
    font-weight: var(--fw-600);
}

ul li strong {
    color: var(--stone-600);
    
}
ol li strong {
    color: var(--stone-600);
    
}

li {
    padding-left: 1.25rem;
}

hr {
    margin: 1.5rem 0;
    border: 1px solid rgba(211, 211, 211, 0.412);
}

.recipe-wrapper {
    max-width: 45rem;
    background: var(--white);
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}

.omelette-image {
  border-radius: .5rem;
  margin-bottom: 2.5rem;
}

.description {
    margin: 1.5rem 0;
}

.prep-time {
    background: var(--Rose-50);
    padding: 1.25rem;
    border-radius: .5rem;
}

.prep-time h3 {
    color: var(--Rose-800);
    margin-bottom: .75rem;
}

.prep-time ul li::marker {
    color: var(--Rose-800);
}
.wrapper {
    display: grid;
    min-height: 100vh;
    place-content: center;   
}

.recipe-ingredients {
    margin-top: 1.5rem;
}

[data-cell="nutrient-value"] {
    color: var(--brown-800);
    font-weight: var(--fw-700);
}

table {
    margin-top: .5rem;
    border-collapse: collapse;
    width: 100%;
}

tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-bottom: 1px solid rgba(211, 211, 211, 0.412) ;
}

table tr:last-child {
    border: none;
}

@media (max-width: 500px) {
    .recipe-wrapper {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .omelette-image {
        border-radius: 0;
    }

    .recipe-container {
        padding: 0 1.75rem;
    }

    .recipe-title {
        font-size: 2.2rem;
    }

}    